@import url('whitespace-reset.css');

body {
  font: normal 13px "Open Sans", Arial, sans-serif;
  background: white; 
  color: #4A4C4A;
}
main {
  padding: 0 30px;
  background: #ffffff;
}
a {
  color:green;
  text-decoration: none;
  font-weight: 700;
}

/* FIXED NAV */

header nav {
  position: fixed;
  top: 0;
  background: white;
  border-top: 10px solid #F4F5F4;
  border-bottom: 1px solid #eee;
  width: 100%;
}
header nav ul {
  margin: 0 auto;
  display: block;
  text-align: center;
}
header nav ul li {
  display: inline-block;
  padding: 13px 25px;
  text-transform: uppercase;
}

/* MAIN HEADING */
.title_banner {
  margin-top: 55px; 
  display: block;
  width: 100%;
  height: 430px;
  background: url("../images/header_banner.jpg") no-repeat top center/1570px;
  text-align: center;
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}
.title_banner img {
  margin-top: 150px;
  width: 80px;
}
h1 {
  font-size: 72px;
  font-weight: 400;
}
header p {
  font-size: 31px;
}

/* MAIN */
main {
 text-align: center;
}
section {
  padding: 58px 0;
  max-width: 1090px;
  margin: 0 auto;
}
section + section {
  border-top: 1px solid #eee;
}
h2 {
  font-size: 48px;
  font-weight: 300;
  padding-bottom: 20px;
}
section p {
  padding-top: 11px;
  font-size: 16px;
  font-weight: 300;
}
.standard_content {
  max-width: 960px;
  margin: 0 auto;
  text-align: left;
  line-height: 25px;
}
.standard_content p {
  padding-bottom: 6px;
}

/* SPEAKERS */

div.speaker_gallery {
  margin-top: 10px;
  margin-bottom: 2px;
  margin: 10px -30px 2px -30px;
}

section#speakers figure a {
  display: block;
  font-size: 24px;
  font-weight: 700;
  padding-top: 31px;
  padding-bottom: 8px;
}
section#speakers figure {
  vertical-align: top;
  width: 280px;
  height: 378px;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid #eee;
  display: inline-block;
  margin: 5px;
  margin-bottom: 5px;
  line-height: 25px;
}

/* SCHEDULE */
section.schedule table {
  max-width: 960px;
  font-size: 24px;
  margin: 10px auto;
}
section.schedule td {
  border-top: 1px solid #eee;
}
section.schedule td:nth-child(3) {
  padding: 10px 10px 7px 0;
}
section.schedule td:nth-child(2) {
  padding: 10px 0px 3px 19px;
  text-align: left;
  font-size: 0;
}
section.schedule td:first-child {
  text-align: left;
  padding: 10px 1px 9px 10px;
}
section.schedule tr:last-child td{
  border-bottom: 1px solid #eee;
}
section.schedule td h2 {
  font-size: 24px;
  margin: 0;
  font-weight: 500;
  display: inline-block;
  padding-bottom: 7px;
  padding-right: 13px;
}
section.schedule td img {
  width: 130px;
}
section.schedule td sub {
  display: block;
  color: green;
  font-size: 18px;
  font-weight: 700;
  padding-top: 1px;
  padding-bottom: 4px;
}
section.schedule td span {
  display: inline-block;
  font-size: 7px;
  background: #eee;
  border: 1px solid #aaa;
  margin: -3px 3.5px 8px 0px;
  vertical-align: 6px;
  padding: 1px 4px;
}

/* LOCATION */
div#location_content {
  padding: 12px 0;
}
section#location h3 {
  font-size: 16px;
}

/* CALL FOR PAPERS */

#cfp_content {
  margin-bottom: 12px;
}

/* SPONSORS */
section#sponsors {
  padding-bottom: 48px;
}
section#sponsors h2 {
  padding-bottom: 30px;
}
section#sponsors h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}
section#sponsors div {
  margin-bottom: 29px;
}
#platinum img {
margin: 0 1px 0 0;
}
#gold img {
  margin: 0 41px 0px 0;}
#silver img {
  width: 240px;
  margin: 0 41px 0px 0;
}
#support img {
  width: 180px;
  margin: 0 40.8px 0px 0;
}

/* FOOTER */
footer {
  width: 100%;
  height: 340px;
  background: url("../images/footer_banner.jpg") no-repeat center 23%/100% ;
  text-align: center;
  color: white;
}
footer h2 {
  padding-top: 30px;
}
footer div.footer_box {
  display: block;
  margin-top: 9px;
  background: rgba(0, 0, 0, .7);
  text-align: left;
  padding: 10px 0 9px 0;
}
footer div.footer_box > div {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;

}
footer h3 {
  font-size: 31px;
  font-weight: 600;
}
footer p {
  padding-top: 1px;
  font-size: 16px;
  font-weight: 300;
}
footer p:last-of-type {
  margin-top: 19px;
}

/* BUTTONS */
.button {
  background: #008000;
  padding: 10px 30px;
  margin: 10px;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}
section#call_for_papers .button {
  margin: 2px 0 -2px 0;
  line-height: 22px;
}
div.footer_box .button {
  margin-left: 0;
}

@media (max-width: 654px) {
  section.schedule table {

  }
  header nav {
    visibility: hidden;
  }
  .title_banner {
    margin-top: 0; 
    height: 300px;
    background: url("../images/header_banner.jpg") no-repeat center 50%;
    margin-bottom: 2px;
  }
  .title_banner img {
    margin-top: 90px;
    width: 80px;
  }
  h1 {
    font-size: 40px;
  }
  header p {
    font-size: 20px;
  }

  section.schedule tr {
    position: relative;
    display: block;
    border-top: 1px solid #eee;
    padding: 0px;
  }
  section.schedule td {
    border: none;
    display: block;
    margin-bottom: 0px;
  }
  section.schedule td:first-child {
    text-align: right;
    padding: 20px 20px 10px 25px !important;
  }
  section.schedule td:nth-child(2) {
    margin: 10px 10px 4px -6px;
    padding-left: 16px;
  }
  section.schedule td:nth-child(3) {
    position: absolute;
    top: 0;
    left: 10px;
  }
  section.schedule td img {
    width: 80px;
  }
  section.schedule td sub {
    padding-bottom: 3px;
  }
  section.schedule tr:last-child td{
  border-bottom: none;
  }
  section.schedule td h2.generic {
    padding-bottom: 23px;
  }
  section.schedule td span {
    margin: -2px 3.5px 7px 0px;
  }
  footer h2 {
    padding-top: 22px;
    font-size: 35px;
    padding-bottom: 12px;
  }
  footer {
    background-size: cover;
  }
  section#sponsors {
    margin: 0 -20px;
  }
  section#sponsors img {
    margin-right: 38px;
  }
}
